<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}

    <main>
        <article>            

                <section class="detailCard">
                    <img class="darkui2-shimmer" width="300px" height="300px" src="{{characterDetail.image}}" alt="Character image">
                    
                    <ul>
                        <h2>Character information</h2>
                    <li><h3>Name: {{characterDetail.name}}</h3></li>
                    <li><h3>Status: {{characterDetail.status}}</h3></li>
                    <li><h3>Gender: {{characterDetail.gender}}</h3></li>
                    </ul>
                </section>

        </article>
    </main>

<footer><p>Rick and morty app</p></footer>

</body>

</html>