<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}

    <main>
        <article>            

            <h1>404 not found</h1>
            <img class ="notFound" src="/img/notFound.png" alt="" srcset="">

        </article>
    </main>

<footer><p>Rick and morty app</p></footer>
</body>

</html>