<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

{{> navbar}}
{{> search}}

    <main>
        <h1>Je bent offline</h1>

        De volgende pagina's kun je nog bezoeken:
    </main>
    <script>

    </script>

<footer><p>Rick and morty app</p></footer>
<script src="/dist/bundle.js"></script>
</body>

</html>