
        <article>            

            {{#each characters}}
                <a href="/character/:{{id}}">
                <section>
                    <img src="{{image}}" alt="">
                    {{!-- <h1>{{name}}</h1> --}}
                </section>
                </a>
            {{/each}}

        </article>
