nav {
  background-color: $rick-green;
  padding: 1.5rem;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    li {
      a {
        color: $text-color;
        text-decoration: none;
        &:visited {
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }
}
