<form action="/searchResults" method = "GET" >

<input type="search" id="search" name="searchValue" placeholder="Search for a character" />

{{!-- <input type="submit" name="searchValue" value="Search"> --}}

</form>