<form action="/searchResults" method = "GET" data-search-form="form">

<input type="search" id="search" name="searchValue" placeholder="Search for a character" data-search-input="input"/>

<input type="submit"  value="Search">

</form>